
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/*  LARGE OVERLAY */
.full-bar {
  margin: auto;
  margin-top: 25px;
  width: 900px;
  height: 70px;
  /* background-color: black; */
  background-image: url("../Overlay/overlayImgs/statOverlay2.png");
}
.stats-large-bar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-direction: inherit;
}
.stats1 {
}

/*  MEDIUM BAR */
.medium-bar {
  margin: auto;
  margin-top: 25px;
  width: 500px;
  height: 70px;
  background-image: url("../Overlay/overlayImgs/statOverlay2.png");
}
.stats-medium-bar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-direction: inherit;
}
.overlay-title1{
  margin-top: 15px;
  font-family: 'Nerko One', cursive;
  font-size: 19px;
  color: #ffbb00;
  text-shadow: 4px 2px 1px #141414;
}
.overlay-stat1{
  font-family: 'Nerko One', cursive;
  font-size: 23px;
  color: #fcfcfc;
  text-shadow: 4px 2px 1px #141414;
}


/* CUSTOM LARGE BAR */

.created-large-bar {
  width: 900px;
  height: 70px;
  background-image: url("../Overlay/overlayImgs/statOverlay2.png");
}

.stats1-created {
  width: 100px;
  float: left;
  text-align: center;
  font-weight: 900;
  margin: 4px 0 5px 0;
  text-transform: uppercase;
  color: rgb(223, 222, 222);
}

/* CREATED MED BAR */
.created-medium-bar {
  width: 500px;
  height: 70px;
  background-image: url("../Overlay/overlayImgs/statOverlay2.png");
}

.created-stats1 {
  width: 100px;
  /* float: left; */
  text-align: center;
  font-weight: 900;
  margin: 4px 0 5px 0;
  text-transform: uppercase;
  color: rgb(223, 222, 222);
}


.category-selects,
.category-two-selects,
.category-three-selects {
  display: flex;
  justify-content: center;
}

/* .MuiIconButton-label {
  color: #DEA01E;
}
.MuiFormControlLabel-label {
  color: rgb(255, 255, 255);
} */

.MuiIconButton-label {
  color: #dea01e;
}

/* .MuiCheckbox-colorSecondary.Mui-checked {
  color: blueviolet;
} */

/* .overlay .Mui-checked { 
  whatever 
}
.roulette .Mui-checked { 
  whatever 
} */


/* URL FIELDS */
.url-field {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#outlined-full-width-label,
#outlined-full-width-helper-text {
  color: black;
}
#outlined-full-width {
  text-align: center;
}
.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.overlay-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ededed),
    color-stop(1, #dfdfdf)
  );
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  text-indent: 0;
  /* border: 1px solid #dcdcdc; */
  display: inline-block;
  color: #151518;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #ffffff;
}
.overlay-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #dfdfdf),
    color-stop(1, #ededed)
    );
  cursor: pointer;
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
.overlay-btn:active {
  position: relative;
  top: 1px;
}
.overlay-btn:focus {
  outline:0;
}
