.profile-page {
  /* display: flex;
  flex-direction: row, wrap; */
}

.fav-gun-card {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  width: 100%;
  margin: 2px;
}

.fav-gun-icon {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}

.right-side {
  /* text-align: center; */
  border: 1px;
  border-radius: 5%;
  margin-left: 10px;
}

.unfav-button {
  margin-bottom: 10px;
  color: red;
}
.card-img {
  display: flex;
  background: #0f0e18;
  border: 1px;
  border-radius: 5%
}

.gun-achieves {
  display: flex;
  justify-content: flex-start;
}

.achieve-icons {
  margin: 10px 5px 5px 5px;
  height: 75px;
  width: 75px;
}

.gamer-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.weekly-stats {
  height: 40vh;
  width: 100%;
  border: 1px;
  border-color: black;
}

.lifetime-stats {
  height: 40vh;
  width: 100;
  border: 1px;
  border-color: black;
}

.tracked-guns-header {
  font-size: large;
}

.compare-gamer-block {
  margin-top: 27px;
}