.roulette {
  background-image: url("../img/warzone8.jpg");
  padding-bottom: 1vh;
  padding-top: 30px;
  min-height: 100vh;
  height: 100%;
  object-fit: contain;
}

.roulette-checkbox {
  display: flex;

  margin: 20px;
  justify-content: space-around;
  align-items: center;
}

.roulette-Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button-generateRoulette {
  border-radius: round;
  cursor: pointer;
}

.roulette-discription {
  display: flex;
  justify-content: center;
}

.MuiButtonBase-root{
  color: red;
}

.MuiTableSortLabel-root {
  color: red;
}



.MuiTableSortLabel-icon {
  color: red;
}

.MuiTableCell-root {
  color: red;
}
.MuiTableCell-head {
  color: red;
}
.makeStyles-text-104 {
  color: red;
}
.MuiTableCell-alignRight {
  color: red;
}
.MuiTableCell-sizeSmall{
  color: red;
}

.makeStyles-visuallyHidden-103{
  color: red;
}

.MuiTableSortLabel-iconDirectionDesc{
  color: red;
}

.MuiTableRow-root {
  color: red;
}
.MuiTableRow-head{
  color: red;
}

  .makeStyles-text-40 {
    color: red;
  }
  MuiTableCell-alignLeft {
    color: red;
  }
  .MuiTableCell-paddingNone {
    color: red;
  }