.Roulette {
  background-image: url("./img/warzone8.jpg");
  padding-bottom: 1vh;
  padding-top: 30px;
  /* min-height: 80vh; */
  /* height: 100%; */

}
.componenet {
  display: flex;
  align-items: center;
}
.checkbox {
  display: flex;
  
  margin: 20px;
  justify-content: space-around;
  align-items: center;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* h1 {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  width: 600px;
  height: 300px;
  border: solid #5b6dcd;
  padding: 10px;
  margin: 20px;
} */

.button {
  border-radius: round;
  cursor: pointer;
}


.roulette-discription{
  display: flex;
  justify-content: center;
}
