.full-bar {
  position: absolute;
  margin-top: 80px;
  width: 900px;
  height: 70px;
  background-color: black;
  left: 25%;
  right:25%;
}
.stats {
  margin-top: 20px;
  position: relative;
  left: 27%;
  top: 16px;
}
.stats1 {
  width: 100px;
  float: left;
  text-align: center;
  font-weight: 900;
  padding: 10 0px;
  margin-top: 50px;
  text-transform: uppercase;
  color: white;
}
/*  MEDIUM BAR */
.medium-bar {
  position: absolute;
  margin-top: 80px;
  width: 500px;
  height: 60px;
  background-color: black;
  left: 35%;
}
.stats-medium-bar {
  margin-top: 20px;
  position: relative;
  left: 37%;
  top: 16px;
}

