.top-row {
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: 1px;
  justify-content: space-between;
  align-items: center;
  background-color: #475666;
  color: #629BCA;
  padding: 1%;
}

.card-row {
  display: flex;
  margin-top: 1px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #424242;
  padding: 1%;
}

/*             CARD CSS                 */
.achievements {
  text-align: center;
  margin: 4%;
}
.achiev-icons{
  width: 12%;
  margin: 2%;
}
.gun-flex {
  /* margin-top: 20%; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.gun-icon {
  width: 50%;
}

/* #################################33 */
.fav-gun-icon {
  width: 100%;
  align-self: center;
}
.fav-guns-container {
  display: flex;
  flex-direction: column;
  
}

.fav-gun-card {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 44%;
  margin: 2px;
  background-color: rgb(180, 180, 180);
}
.card-img {
  display: flex;
  background-color: rgb(138, 138, 138);

}
.gun-achieves {
  display: flex;
  justify-content: center;

}

table  {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table h2 {
  margin: 60px 0 15px 0;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}








.container {
  /* width: 17%; */
  margin: 5px;
  position: relative;
}

.card {
  /* position: relative; */
  /* border-radius: 10px; */
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background:#393e46;
}

.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;


  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}
.content {
display: flex;
justify-content: space-between;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;

}
.container .card .face.face2 {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-102px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 44%;
  text-align: center;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
} 

.container a {
  text-decoration: none;
}